@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;  
    font-family: 'Roboto';
    font-weight: 300;
    background-color: #f8f8f8;
    line-height: 25px;
}

p {
    padding-bottom: 10px;
    text-indent: 15px;
}

ul {
    list-style-type: circle;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #00000095;
    opacity: 1;
    transition: 0.5s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20 px;
    font-weight: 900;
    /* color: #FFC547; */
}

h2, h3 {
    line-height: 50px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

/* header section */
.site-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}

.nav a {
    padding-left: 20px;
}

/* about section */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

img {
    max-width: 100%;
}

.text {
    padding-left: 50px;
    width: 600px;
}

/* skills table styling*/

.skills {
    padding-top: 10px;
    gap: 5px;
    margin: auto;
    align-self: center;
}

.skills table {
    align-self: center;
    padding: 30px;
}

.skills td {
    padding-right: 25px;
    padding-left: 25px;
}

.skills img {
    width: 30px;
}

#star {
    text-align: right;
}

#star:hover {
    color: #FFC547;
    opacity: 1; 
    transition: 0.5s;
}

.portimg {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
}

.portimg img {  
    object-fit: cover;
    max-width: 100%;
    overflow-y: hidden;
}

.portimg video {  
    object-fit: cover;
    max-width: 100%;
    overflow-y: hidden;
}

#contacts {
    display: flex;
    justify-content: center;
}

#contacts i {
    font-size: 24px;
    padding:10px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
    font-size: 12px ;
}

footer:hover {
    color: #FFC547;
    opacity: 1;
    transition: 0.5s;
}


